a {
  text-decoration: none;
  color: hotpink;

}
p {
  color: hotpink;
  font-family: Arial, sans-serif;
}
#resetButton {
  display: inline-block;
  border-radius: 10px;
  float: right;
}
#topBar {
  font-family: 'Muli', sans-serif;
  width: 625px;
  margin: 0 auto;
}
#heart {
  position: relative;
  width: 625px;
  height: 450px;
  margin: 0 auto;
  background: #f9b3cd;
  border-radius: 10px;
}

#canvas {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;  
}