* {
  font-family: Arial, sans-serif;
}
h1{
  text-align: center;
}
.container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  max-width: 750px;
  margin: 0 auto;
  
      -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
}
.list {
  margin: 20px;
  padding: 20px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#801c4e+0,411842+50,36486c+100 */
background: rgb(128,28,78); /* Old browsers */
background: -moz-linear-gradient(top, rgb(128,28,78) 0%, rgb(65,24,66) 50%, rgb(54,72,108) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(128,28,78) 0%,rgb(65,24,66) 50%,rgb(54,72,108) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(128,28,78) 0%,rgb(65,24,66) 50%,rgb(54,72,108) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801c4e', endColorstr='#36486c',GradientType=0 ); /* IE6-9 */
  width: 35%;
  border: 3px solid #529CA5;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  
 flex: 1;
}
a {
  color: hotpink;
  text-decoration: none;
}