a {
  text-decoration: none;
  color: rgb(204, 82, 0);

}
p {
  color: rgb(204, 82, 0);
  font-family: Arial, sans-serif;
}

body {
  background: rgb(255, 219, 77);
}
#canvasWrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
canvas {
  border: 2px solid orange;
  background: white;
  border-radius: 25%;
  box-shadow: 5px 5px 5px grey;
}