body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+43,89c3eb+61,d5ebfb+100 */
background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 43%, #89c3eb 61%, #d5ebfb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 43%,#89c3eb 61%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 43%,#89c3eb 61%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
/*   background: #66ccff; */
  /*rgb(0, 102, 153); */
/*  #66ccff - lightblue   */
}
a {
  text-decoration: none;
  color: rgb(0, 102, 153);

}
p {
  color: rgb(0, 102, 153);
  font-family: Arial, sans-serif;
}
#cloudWrapper {
 width: 500px;
 margin: 0 auto;
}
canvas {
  border: 2px solid pink;
  border-radius: 50%;
}

