a {
  text-decoration: none;
  color: #0040ff;

}
p {
  color: #0040ff;
  font-family: Arial, sans-serif;
}
body{
  background: #FFE1FF;
} 
#canvasWrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
  border-radius: 20px;
} 
canvas {
  position: absolute;
}
#c2 {
  position: absolute;
  top:0;
}

